<div class="page-container">
  <div class="main-content-inner">
  <div class="col-12 ">
    <form [formGroup]="clientmembershipForm" (ngSubmit)="onSubmit()">
    <!--<h4 class="header-title" style="color: #c89628; cursor: pointer;" (click)="goToProduct()">Back </h4>-->
    <h4 class="header-title">Add Clients </h4>
    <div class="card">
      <!--<div class="header-title myheadtitle">Product Details</div>-->
      <div class="main-content-inner">
        <div class="form-row" style="margin-top: 25px;">
  <div class="col-md-4">
    <label style="color: #000000; font-size: 14px;">FirstName</label>
    <input type="text" formControlName="f_name" placeholder="FirstName" [ngClass]="{ 'is-invalid': submitted && f.f_name .errors }"
      class="form-control" required>
    <div *ngIf="submitted && f.f_name .errors" class="invalid-feedback">
      <div *ngIf="f.f_name .errors.required">First Name is required</div>
    </div>
    <span class="opt">Required</span>
  </div>

  <div class="col-md-4">
    <label style="color: #000000;font-size: 14px;">Surname</label>
    <input type="text" class="form-control" formControlName="surname" [ngClass]="{ 'is-invalid': submitted && f.surname .errors }" placeholder="Surname" required>
    <div *ngIf="submitted && f.surname .errors" class="invalid-feedback">
  <div *ngIf="f.surname .errors.required">Surname is required</div>
</div>
    <span class="opt">Required</span>
  </div>
        </div>
       <div class="form-row" style="margin-top: 10px;">
  <div class="col-md-6">
    <label style="color: #000000;">Gender</label>
    <div class="roles">
      <input type="radio" class="inputgen" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
        value="male" required>
      <label class="role" for="Male">Male</label>
      <input type="radio" class="inputgen" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
        value="Female" required>
      <label class="role" for="Female">Female</label>
      <input type="radio" class="inputgen" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
        value="Others" required>
      <label class="role" for="Other">Other</label>
      <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
        <div *ngIf="f.gender.errors?.required">Gender is required</div>
      </div>
      <br>
      <span class="opt">Required</span>

    </div>
  </div>
</div>
       <div class="form-row">
  <div class="col-md-4">
    <label style="color: #000000; font-size: 14px;">Mobile</label>
    <input type="text" formControlName="mobile" class="form-control" required [ngClass]="{ 'is-invalid': submitted && f.mobile .errors }"
      placeholder="Mobile">
    <div *ngIf="submitted && f.mobile .errors" class="invalid-feedback">
      <div *ngIf="f.mobile .errors.required">Mobile is required</div>
      <div *ngIf="f.mobile.errors.pattern">Please Enter 10 digit number</div>
    </div>
    <span class="opt">Required</span>
  </div>
  <div class="col-md-4">
  <label style="color: #000000; font-size: 14px;">Email</label>
  <input type="email" name="email" formControlName="email" id="inputEmail" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
    class="form-control myformscontrol custominput" placeholder="Email Address" required>
  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
    <div *ngIf="f.email.errors.required">Email is required</div>
    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
  </div>

  <span class="opt">Required</span>
</div>
</div>
      </div>
    </div>
    <button type="button" class="btn mb-3 canc" (click)="onCancel()">Cancel</button>
<button type="submit" class="btn mb-3 sub">Submit</button>
    </form>
  </div>
</div>
  
</div>