.myheadtitle {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 13px;
    margin-left: 0px;
    padding: 10px;
    border-bottom: 1px solid #e3e1ec;
}
.editt{
  text-decoration: underline !important; cursor: pointer;font-size: 14px;
    font-weight: 500; float: right; color: #c89628!important;
}
.ride{
  text-decoration: underline !important; cursor: pointer;font-size: 14px;
    font-weight: 500;color: #c89628!important; padding-left: 10px;
}


.scrollbar3
{
  /*max-height: 24vh;*/
  max-height: 180px;
	overflow-y: scroll;
}
.scrollbar4
{
  /*max-height: 24vh;*/
  max-height: 180px;
	overflow-y: scroll;
}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}

.redtxt{
  color: #fe5a5c;
}
.myarrow{
      padding-left: 4px;
    font-size: 15px;
    color: #7dd320;
    width: 11%;
}
.redarrow{
    padding-left: 4px;
    font-size: 15px;
    color: #fe5a59;
    width: 11%;
}
/*.myscrolls{
  max-height: 92vh;
    overflow-y: scroll;
}*/

/*myscrolls::-webkit-scrollbar {
    width: 1em;
    max-height: 92vh;
}
 
myscrolls::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
myscrolls::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}*/


.scrollbar
{
  /*max-height: 87vh;*/
  max-height: 606px;
	overflow-y: scroll;
}

.scrollbar2
{
  /*max-height: 24vh;*/
  max-height: 180px;
	overflow-y: scroll;
}


#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #babec9;
}

.appointmnt{
  margin-left: 7px; background-color: #BCBDB8 !important;
}
.myborder{
  border-bottom: 1px solid #dadee8;
}

.mycheckbox{
      padding-left: 10px;
    color: #000;
    font-size: 13px;
    font-weight: 500;
}
.cardbody{
  margin-top: -35px;
}
.mysubheader{
  font-size: 14px;
  color: #000;
}
.subicon{
      float: right;
    margin-top: -30px;
    color: red;
}
textarea {
  width: 100%;
  height: 110px;
  margin-left:-25px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.role {
        margin-right: 20px;
        margin-left: 10px;
        font-weight: normal;
    }

    /*.checkbox label {
        margin-bottom: 20px !important;
    }*/

    .roles {
        margin-bottom: 6px;
        margin-left: 6px;
    }
 .canc{
     color: #b4b4b4; border: 1px solid #b4b4b4; background-color: #ffffff; margin-top: 15px;
    }
    .sub{
   color: #fff;background-color: #c89628; margin-left: 10px; margin-top: 15px;
    }
   .mysubgroup {
margin-top: -10px;
    margin-bottom: 1rem;
    }
    .myappoinlabel{
      font-size: 14px;
      color:#000;
    }
    .appoint{
      font-size: 14px;
      color:#000 !important;
    }
    .appoints{
      font-size: 14px;
      padding-top: 10px;
      color:#000 !important;
    }
    .flagappoint{
      font-size: 14px;
      color:#000 !important;
    }
    .mycustom{
      font-size: 12px;
    font-weight: 600;
    }
    .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #c89628!important;
    background-color: #c89628;
}
.mybtn{
  background-color: #C89628; border-color: #C89628; color:#fff;
           border-radius: 4px; height: 37px; font-size: 11px;  font-weight: 500;
}
.req{
  color: #b5b5b5;
    font-size: 10px;
    font-weight: 500;
    padding-left: 2px;
}
.footrcard{
      margin-top: -55px;
    padding-left: 34px;
}
.text-muted {
    color: #000!important;
    font-size: 14px;
}
.customcolor{
  border-radius: 5px;
    height: 45px;
    color: #fff;
}
.inputgen{
    margin: -5px !important;
   
}
.form-group>input{
  border:none;
}
input[type='radio'] {
        -webkit-appearance: none;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        outline: none;
        border: 2px solid gray;
    }

    input[type='radio']:before {
        content: '';
        display: block;
        width: 60%;
        height: 60%;
        margin: 20% auto;
        border-radius: 50%;
    }

 input[type="radio"]:checked:before {
        background: #c89628;
        
    }
    
    input[type="radio"]:checked {
      border-color:#c89628;
    }

    
    .custominner{
      padding: 0 30px 25px !important;
    }

 .canc{
     color: #b4b4b4; border: 1px solid #b4b4b4; background-color: #ffffff; margin-top: 15px;
    }
    .sub{
   color: #fff;background-color: #c89628; margin-left: 10px; margin-top: 15px;
    }
    input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #c89628!important;
    background-color: #c89628;
}
.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
     border-color: #c89628; 
     background-color: #fff; 
}
.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
     background-color: #fff; 
}
.mb-3, .my-3 {
    margin-bottom: 0rem!important;
}
.inputgen{
    margin: -5px !important;
   
}

