<div class="page-container">
  <div class="main-content">
    <div class="page-title-area">
      <div class="row align-items-center">
        <div class="col">
          <ul class="breadcrumbs pull-left">
            <li>
              <div class="dropdown">
                <button class="btn  btnstand btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                        All Staff
                        </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col">
          <div class="user-profile pull-right">
            <button type="button" class="btn btnstand btn-sm mybtn" [routerLink]="['/addappointments']">
                  <i class="fa fa-plus-circle"></i> ADD NEW APPOINTMENT</button>
          </div>
        </div>
      </div>
    </div>
    <div class="control-section">
      <div class="col-lg-12 content-wrapper">
        <ejs-schedule cssClass='schedule-group-editing' width='100%' height='560px' [group]="group" [selectedDate]="selectedDate"
         [eventSettings]="eventSettings" [timeScale]="timeScale"  [currentView]="currentView" (actionBegin)="actionBegin($event)" (actionComplete)="actionComplete($event)">
          <ng-template #resourceHeaderTemplate let-data>
            <div class='template-wrap'>
              <div class="resource-image">
                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
              </div>
              <div class="resource-details">
                <div class="resource-name">{{data.resourceData.text}}</div>
                <div class="resource-designation">{{data.resourceData.designation}}</div>
              </div>
            </div>
          </ng-template>
          <ng-template #timeScaleMajorSlotTemplate let-data>
            <div class="majorTime">{{getMajorTime(data.date)}}</div>
          </ng-template>
          <ng-template #timeScaleMinorSlotTemplate let-data>
            <div class="minorTime">{{getMinorTime(data.date)}}</div>
          </ng-template>
          <e-view option="Day"></e-view>
          <!--<ng-template #quickInfoTemplatesContent let-data>
            <div *ngIf="data.elementType == 'cell'" class="e-cell-content">
              <form class="e-schedule-form">
                <table class="custom-event-editor" width="100%" cellpadding="5">
                  <tbody>
                    <tr style=" height: 10px;">
                      <td class="e-textlabel">Services</td>
                      <td colspan="4">
                        <ejs-dropdownlist id='Service' style="padding-top: 10px;" class="e-field" name="Subject" data-name="Subject" placeholder='Select Service'
                          formControlName="service_id" [dataSource]='ServiceData' [fields]='serviceFields' (change)="clientChange($event)">
                        </ejs-dropdownlist>
                      </td>
                    </tr>
                    <tr style=" height: 10px;">
                      <td class="e-textlabel">Clients</td>
                      <td colspan="4">
                        <ejs-dropdownlist id='Client' style="padding-top: 10px;" name="Location" class="e-field" data-name="Location" placeholder='Select Client'
                          [dataSource]='ClientData' formControlName="client_id" [fields]='clientFields' (change)="serviceChange($event)">
                        </ejs-dropdownlist>
                      </td>
                    </tr>
                    <tr style=" height: 10px;">
                      <td class="e-textlabel">Date</td>
                      <td colspan="4">
                        <ejs-datetimepicker id="StartTime" style="padding-top: 10px;" class="e-field" data-name="StartTime" format="M/dd/yy h:mm a"
                          [value]="dateParser(data.startTime || data.StartTime)">
                        </ejs-datetimepicker>
                      </td>
                    </tr>
                    <tr style=" height: 10px;">
                      <td class="e-textlabel">Duration</td>
                      <td colspan="4">
                        <ejs-dropdownlist id='duration' style="padding-top: 10px;" formControlName="duration" class="e-field" data-name="duration"
                          placeholder='Select Duration' [dataSource]='DurationData' [fields]='durationFields' value='{{data.duration}}'>
                        </ejs-dropdownlist>
                      </td>
                    </tr>
                    <tr style=" height: 10px;">
                      <td class="e-textlabel">Price</td>
                      <td colspan="4">
                        <input id="price" style="padding-top: 10px;" class="e-field e-input" type="text" value="{{data.price}}" name="price" style="width: 100%"
                        />
                      </td>
                    </tr>
                    <tr style=" height: 10px;">
                      <td colspan="4">
                        <input id="DoctorId" style="padding-top: 10px;" class="e-field e-input" type="hidden" value="{{data.DoctorId}}" name="DoctorId"
                          style="width: 100%" />
                      </td>
                    </tr>
                    <tr style=" height: 10px;">
                      <td class="e-textlabel">Comment</td>
                      <td colspan="4">
                        <textarea id="comment" class="e-field e-input" name="comment" rows="3" cols="50" value="{{data.comment}}" style="width: 100%; height: 40px !important; resize: vertical"></textarea>
                      </td>
                    </tr>
                    <tr style=" height: 50px;">
                      <td class="e-textlabel">Flag as</td>
                      <td colspan="4">
                        <ejs-radiobutton label="Requested" class="e-field e-input" value="Requested" name="flag_as"></ejs-radiobutton>
                        <ejs-radiobutton label="Confirmed" class="e-field e-input" value="Confirmed" style="margin-left: 11px;" name="flag_as"></ejs-radiobutton>
                        <ejs-radiobutton label="VIP" class="e-field e-input" style="margin-left: 11px;" value="VIP" name="flag_as"></ejs-radiobutton>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
            <div *ngIf="data.elementType == 'event'" class="e-event-content">
              <div class="subject">{{data.service_id}}</div>
              <div class="location">{{data.client_id}}</div>
              <div class="price">Price: {{data.price}}</div>
              <div class="start-time">Start: {{data.StartTime.toLocaleString()}}</div>
              <div class="end-time">End: {{data.EndTime.toLocaleString()}}</div>
              <div *ngIf="data.Location != undefined && data.Location != ''" class="location">Location: {{data.Location}}</div>
              <div *ngIf="data.Description != undefined && data.Description != ''" class="description">Description: {{data.Description}}</div>
            </div>
          </ng-template>-->
          <e-resources>
            <e-resource field="DoctorId" title="Doctor Name" name="Doctors" [dataSource]="doctorDataSource" textField='text' idField='id'
              colorField='color' designationField='designation' >
            </e-resource>
          </e-resources>
        </ejs-schedule>
      </div>
    </div>
  </div>
</div>