
/*h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b { /* used for event dates/times */
  /*margin-right: 3px;
}*/

/*.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
  padding: 2em;
}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}

.fc { /* the calendar root */
  /*max-width: 1100px;
  margin: 0 auto;
}*/
.btnstand{
  color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
}

.mybtn{
  background-color: #C89628; border-color: #C89628; color:#fff;
           border-radius: 4px; height: 33px; font-size: 11px;  font-weight: 500;
}


.myheader{
  font-size: 15px; color: #000000; margin-bottom: 2px;
}
.mypara{
  color: #BCBDB8; font-size: 11px; font-weight: 500;
}
.chat_ibs h5{ font-size:13px; color:#464646; margin:0 0 8px 0;}
.chat_ibs h5 span{ font-size:13px; float:right;}
.chat_ibs p{ font-size:11px; color:#989898; margin:auto}
.chat_imgs {
  float: left;
  width: 11%;
  width: 16%;
  margin-left: 15px;
}
.chat_ibs {
  float: left;
  padding: 0 0 0 15px;
}

.chat_people{ overflow:hidden; clear:both;}


.schedule-group-editing.e-schedule .e-month-view .e-appointment .e-appointment-details {
    padding: 1px;
    padding-left: 3px;
}

.schedule-group-editing.e-schedule .e-vertical-view .e-resource-cells {
    height: 62px;
}

.schedule-group-editing.e-schedule .template-wrap {
    display: flex;
    text-align: left;
}

.schedule-group-editing.e-schedule .template-wrap .resource-image {
    width: 45px;
    height: 45px;
    background-size: 45px;
    background-repeat: no-repeat;
}

.schedule-group-editing.e-schedule .template-wrap .resource-details {
    padding-left: 10px;
}

.schedule-group-editing.e-schedule .template-wrap .resource-details .resource-name {
    font-size: 16px;
    font-weight: 500;
    padding-right: 10px;
}

.schedule-group-editing.e-schedule.e-device .template-wrap .resource-details .resource-name {
    font-size: inherit;
    font-weight: inherit;
    padding-top: 5px;
}

.schedule-group-editing.e-schedule.e-device .e-resource-tree-popup .e-fullrow {
    height: 50px;
}

.schedule-group-editing.e-schedule.e-device .template-wrap .resource-details .resource-designation {
    display: none;
}

.schedule-group-editing.e-schedule .template-wrap .resource-image.margaret {
    background-image: url('~/assets/schedule/images/margaret.png');
}

.schedule-group-editing.e-schedule .template-wrap .resource-image.robert {
    background-image: url('~/assets/schedule/images/robert.png');
}

.schedule-group-editing.e-schedule .template-wrap .resource-image.laura {
    background-image: url('~/assets/schedule/images/laura.png');
}
.myrespbtn{
  background-color: #C89628; border-color: #C89628; color:#fff;
  border-radius: 33px; height: 33px; font-size: 11px; margin-left: 1rem; font-weight: 500;
}
.customtd{
  /*background-color: #fff;
    border-color: rgba(0, 0, 0, 0.12);
    border-style: solid;
    border-width: 0 0 1px 1px;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;*/
}
.e-textlabel-td{
  padding-top: 10px !important;
}
.btn:hover {
    color: #ffffff !important;
    text-decoration: none;
}
.e-schedule .e-vertical-view .e-header-cells.e-current-day {
    color: #C89628;
}
.e-calendar .e-content td.e-today.e-selected span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected span.e-day {
   border: 1px solid #C89628 !important;
    box-shadow: inset 0 0 0 2px #fff;
}

.e-calendar .e-content td.e-today.e-selected:hover span.e-day, .e-calendar .e-content td.e-selected:hover span.e-day, .e-calendar .e-content td.e-selected.e-focused-date span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected.e-focused-date span.e-day {
    background-color: #C89628 !important;
    color: #fff;
}
.e-calendar .e-content td.e-today.e-selected span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected span.e-day {
    background-color: #C89628 !important;
    color: #fff;
}