<div class="modal-header">
  <h5 class="modal-title">Update Service Resource</h5>
  <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <form [formGroup]="serviceresourceForm" (ngSubmit)="updateServiceResource()">
    <div class="form-group ">
      <input type="hidden" class="form-control" formControlName="service_resource_id">
      <select class="custom-select" formControlName="resource_id" name="resource_id" >
      <option value="" selected="">Select Resource</option>
      <option *ngFor="let resource of resources" [value]="resource.id">{{resource.resource_name}}</option>
      </select>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn mb-3 canc" data-dismiss="modal" (click)="closeModal('close')">Cancel</button>
      <button type="submit" class="btn mb-3 sub">Update</button>
    </div>
  </form>
</div>