




 .page {
     margin-top: 0%
 }



 .sign {
     border-radius: 25px;
     width: 25%;
     margin: auto
 }

 

 h2.account-text {
     color: #fff !important;
    float: left;
 }
  h2.account-text2 {
     color: #fff !important;
    float: left;
 }

 .account-description {
     color: #fff;
     margin-bottom: 4%;
     font-weight: 200
 }

 @media only screen and (max-width: 600px) {
     row {
         margin-top: 5%;
         margin-left: 1%;
         margin-right: 1%
     }
 }
 .login-areas{
   background-color: #fff;
 }
 .mycardbody{
  flex: 1 1 auto;
    padding: 0.00rem !important;
}

input[type=text]:focus {
  border: 1px solid #c89628;
}
 .xyz {
    background-position: center; background-size: cover;
 }

.mylabel{
 margin-bottom: -0.5rem;
    color: #000000;
}
.opt{
  color: #b5b5b5;
    font-size: 10px;
    font-weight: 500;
    padding-left: 2px;
}

.myformgroups{
       padding: 10px;
    border: 1px solid #c89628;
    margin: 10px;
    border-radius: .25rem;
    height: 40px;
    width: 100%;
    margin-left: 0px;
}
.myformgroups>label{
  /*position:absolute;
  top:-1px;
  left:20px;
  background-color:white;*/
     position: absolute;
    top: -4px;
    left: 36px;
    background-color: white;
    width: 30%;
    padding-left: 0px;
    color: #c89628;
}

.myformgroups>input{
  border:none;
}
input[type='radio'] {
        -webkit-appearance: none;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        outline: none;
        border: 2px solid gray;
    }

    input[type='radio']:before {
        content: '';
        display: block;
        width: 60%;
        height: 60%;
        margin: 20% auto;
        border-radius: 50%;
    }

 input[type="radio"]:checked:before {
        background: #c89628;
        
    }
    
    input[type="radio"]:checked {
      border-color:#c89628;
    }

    .role {
        margin-right: 20px;
        margin-left: 5px;
        font-weight: normal;
    }

    /*.checkbox label {
        margin-bottom: 20px !important;
    }*/

    .roles {
        margin-bottom: 40px;
    }
    .canc{
     color: #b4b4b4; border: 1px solid #b4b4b4; background-color: #ffffff; margin-top: 15px;
    }
    .sub{
   color: #fff;background-color: #c89628; margin-left: 10px; margin-top: 15px;
    }
    input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.signupbtn{
    width: 100% !important;
    border-radius: 5px;
    background-color: #c89628;
    border: 1px solid #fff;
    font-size: 13px;
    color: #fff;
    height: 45px;
}
.myformscontrol{
    font-size: 14px;
    font-weight: 500;
    height: 45px;
}
.myaccount2{
        text-decoration: underline;
    color: #c89628;
        font-size: 13px;
    font-weight: 500;
}
.textlogin{
    margin-left: 10px;
    padding: 10px;
    margin-bottom: -5px;
    margin-top: 0px;
    font-weight: bold;
}
.imgstyle2{
    margin-left: 15px;
    margin-top: 15px;
    width: 25%;
}
.startday{
    color: #fff;
    padding: 30px;
    font-weight: 700;
    padding-bottom: 0px;
}
.freetrial{
    padding: 0 0 0 30px;
    color: #fff;
    font-weight: 700;
}
.nocontracts{
    padding-left: 30px;
    color: #fff;
    font-weight: 400;
    margin-bottom: -20px;
}
.fant{
    padding-left: 30px;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}
.nocontracts2{
    padding-left: 30px;
    color: #fff;
    font-weight: 400;
}
.copyright{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin-top: 70px;
    padding-left: 30px;
}
.myaccount3{
   text-decoration: underline;
    color: #c89628;
        font-size: 13px;
    font-weight: 500;
      float: right;
    margin-top: -45px;
    padding-right: 5px;
}


.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 5px;
  left: 0px;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
.custominput{
    padding-top: 8px !important;
    padding-left: 12px !important;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}

.floating-label {
 position: absolute !important;
    pointer-events: none !important;
    top: 3px !important;
    transition: 0.2s ease all;
   left: 1px !important;
}

