<div class="modal-header">
  <h5 class="modal-title">Update Service Item</h5>
  <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <form [formGroup]="serviceItemForm" (ngSubmit)="updateServiceItem()">
    <div class="form-group ">
      <input type="hidden" class="form-control" formControlName="serviceItem_id">
      <select class="custom-select" formControlName="item_service_id" name="item_service_id">
      <option value="" selected="">Add Service</option>
      <option *ngFor="let item of serviceItem" [value]="item.id">{{item.service_name}}</option>
      </select>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn mb-3 canc" data-dismiss="modal" (click)="closeModal('close')">Cancel</button>
      <button type="submit" class="btn mb-3 sub">Update</button>
    </div>
  </form>
</div>