<div class="page-container">
  <div class="main-content">
    <div class="main-content">
      <div class="main-content-inner">
        <h4 class="header-title2" style="color: #c89628; cursor: pointer; margin-left: 20px;" (click)="goToClient()">Back </h4>
        <h4 class="header-titles2">Update Client</h4>
        <form class="col-lg-12" [formGroup]="clientForm" (ngSubmit)="updateClient()">
          <input type="hidden" class="form-control" formControlName="client_id">
          <div class="control-section accordion-control-section">
            <div class="e-sample-resize-container">
              <ejs-accordion>
                <e-accordionitems>
                  <e-accordionitem expanded='true'>
                    <ng-template #header>
                      <div>Contact Details</div>
                    </ng-template>
                    <ng-template #content>
                      <div class="card-body">
                        <div class="form-row">
                          <div class="col-md-4">
                            <label style="color: #000000;">FirstName</label>
                            <input type="text" formControlName="f_name" placeholder="FirstName" [ngClass]="{ 'is-invalid': submitted && f.f_name .errors }"
                              class="form-control" required>
                            <div *ngIf="submitted && f.f_name .errors" class="invalid-feedback">
                              <div *ngIf="f.f_name .errors.required">First Name is required</div>
                            </div>
                            <span class="opt">Required</span>
                          </div>

                          <div class="col-md-4">
                            <label style="color: #000000;">Surname</label>
                            <input type="text" class="form-control" formControlName="surname"  placeholder="Surname">
                            <span class="opt">Optional</span>
                          </div>
                        </div>
                        <div class="form-row" style="margin-top: 10px;">
                          <div class="col-md-4">
                            <label style="color: #000000;">Email</label>
                            <input type="email" name="email" formControlName="email" id="inputEmail" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                              class="form-control myformscontrol custominput" placeholder="Email Address" required>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                              <div *ngIf="f.email.errors.required">Email is required</div>
                              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>

                            <span class="opt">Required</span>
                          </div>
                          <div class="col-md-4">
                            <label style="color: #000000;">Twitter</label>
                            <input type="text" class="form-control" formControlName="twitter" placeholder="Twitter">
                            <span class="opt">Optional</span>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </e-accordionitem>
                </e-accordionitems>
              </ejs-accordion>
            </div>
          </div>
          <div class="control-section accordion-control-section" style="margin-top: 20px;">
            <div class="e-sample-resize-container">
              <ejs-accordion>
                <e-accordionitems>
                  <e-accordionitem>
                    <ng-template #header>
                      <div>More Details</div>
                    </ng-template>
                    <ng-template #content>
                      <div class="card-body">
                        <div class="form-row">
                          <div class="col-md-4">
                            <label style="color: #000000;">Mobile</label>
                            <input type="text" formControlName="mobile" class="form-control" required [ngClass]="{ 'is-invalid': submitted && f.mobile .errors }"
                              placeholder="Mobile">
                            <div *ngIf="submitted && f.mobile .errors" class="invalid-feedback">
                              <div *ngIf="f.mobile .errors.required">Mobile is required</div>
                              <div *ngIf="f.mobile.errors.pattern">Please Enter 10 digit number</div>
                            </div>
                            <span class="opt">Required</span>
                          </div>
                          <div class="col-md-4">
                            <label style="color: #000000;">Other Phone</label>
                            <input type="text" formControlName="phone_no" placeholder="Other Phone" class="form-control">
                          </div>
                        </div>
                        <div class="form-row" style="margin-top: 10px;">
                          <div class="col-md-6">
                            <label style="color: #000000;">Gender</label>
                            <div class="roles">
                              <input type="radio" class="inputgen" formControlName="gender" 
                              [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
                                value="male" required>
                              <label class="role" for="Male">Male</label>
                              <input type="radio" class="inputgen" formControlName="gender" 
                              [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
                                value="Female" required>
                              <label class="role" for="Female">Female</label>
                              <input type="radio" class="inputgen" formControlName="gender" 
                              [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
                                value="Others" required>
                              <label class="role" for="Other">Other</label>
                              <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                <div *ngIf="f.gender.errors?.required">Gender is required</div>
                              </div>
                              <br>
                              <span class="opt">Required</span>

                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-md-4" style="margin-top: 25px;">
                            <label style="color: #000000;">Date Of Birth</label>
                            <div class="input-group" >
                              <input class="form-control" formControlName="birthday" placeholder="yyyy-mm-dd" name="birthday" ngbDatepicker 
                              [minDate]="{year: 1980, month: 1, day: 1}" [maxDate]="{year: 2048, month: 12, day: 31}"
                                #d="ngbDatepicker">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" style="font-size: 13px;" (click)="d.toggle()" type="button">
                                  <i class="fa fa-calendar"></i></button>
                              </div>
                            </div>
                            <span class="opt">Optional</span>
                          </div>
                        </div>
                        <div class="form-row" style="margin-top: 10px;">
                          <div class="col-md-4">
                            <label style="color: #000000;">Preffered Employee </label>
                            <select class="custom-select" formControlName="employee_id">
                              <option value="" selected="">Select Employee </option>
                              <option *ngFor="let employee of currentEmployees"  
                              [value]="employee.id">{{employee.f_name}}</option>

                                             </select>
                            <span class="opt">Optional</span>
                          </div>
                          <div class="col-md-4">
                            <label style="color: #000000;">Referred By</label>
                           <input type="text" formControlName="referred_by" 
                            [ngClass]="{ 'is-invalid': f.referred_by.errors }" placeholder="Enter Referral Code" 
                            class="form-control">
                            <div *ngIf=" f.referred_by.errors" class="invalid-feedback">
                              <div *ngIf="f.referred_by.errors.pattern">Please Enter only number</div>
                            </div>
                            <span class="opt">Optional</span>
                          </div>
                        </div>
                        <div class="form-row" style="margin-top: 10px;">
                          <div class="col-md-4">
                            <label style="color: #000000;">Referal Type</label>
                            <select class="custom-select" formControlName="refferral_type_id">
                            <option value="" title="">Select Level</option>
                            <option value="1">Digital Advertising</option>
                            <option value="2">Direct Mail</option>
                            <option value="3">Email</option>
                            <option value="4">Event</option>
                            <option value="5 ">Existing Client</option>
                            <option value="6">Facebook</option>
                            <option value="7">Flyer/Brochure</option>
                            <option value="8">Friend</option>
                            <option value="9 ">Gift Certificate</option>
                            <option value="10">Instagram</option>
                            <option value="11 ">Internet Ad</option>
                            <option value="12 ">Internet Search</option>
                            <option value="13">Magazine</option>
                            <option value="14">Newspaper</option>
                            <option value="15">Other</option>
                            <option value="16 ">Other Website</option>
                            <option value="17 ">Partner Business</option>
                            <option value="18">Payment Provider</option>
                            <option value="19">Pinterest</option>
                            <option value="20">Radio</option>
                            <option value="21">SMS</option>
                            <option value="22 ">Social Media</option>
                            <option value="23 ">Staff Referral</option>
                            <option value="24">Supplier</option>
                            <option value="25">Twitter</option>
                            <option value="26 ">Walk By</option>
                            <option value="27 ">Web Site</option>
                            <option value="28">Word of Mouth</option>
                            <option value="29">Yellow Pages</option>

	                          </select>
                            <span class="opt">Optional</span>
                          </div>
                          <div class="col-md-4">
                            <label style="color: #000000;">Barcode/Member No.</label>
                            <input type="text" class="form-control" formControlName="barcode_no" placeholder="Barcode/Member No.">
                            <span class="opt">Optional</span>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </e-accordionitem>
                </e-accordionitems>
              </ejs-accordion>
            </div>
          </div>
          <div class="control-section accordion-control-section" style="margin-top: 20px;">
            <div class="e-sample-resize-container">
              <ejs-accordion>
                <e-accordionitems>
                  <e-accordionitem>
                    <ng-template #header>
                      <div>Postal Address</div>
                    </ng-template>
                    <ng-template #content>
                      <div class="card-body">
                        <div class="form-row">
                          <div class="col-md-4">
                            <label style="color: #000000;">Address</label>
                            <input type="text" class="form-control" formControlName="address" placeholder="Address">
                            <span class="opt">Optional</span>
                          </div>
                          <div class="col-md-4">
                            <label style="color: #000000;">Suburb</label>
                            <input type="text" class="form-control" formControlName="suburb" placeholder="Suburb">
                            <span class="opt">Optional</span>
                          </div>
                        </div>
                        <div class="form-row" style="margin-top: 10px;">
                          <div class="col-md-4">
                            <label style="color: #000000;">Post Code</label>
                            <input type="text" class="form-control" formControlName="postcode" placeholder="Post Code">
                            <span class="opt">Optional</span>
                          </div>
                          <div class="col-md-4">
                            <label style="color: #000000;">State</label>
                            <select class="custom-select" formControlName="state_id">
                              <option>Select State </option>
                              <option *ngFor="let state of stateList"  [value]="state.id">{{state.name}}</option>
                                              
                                             </select>
                            <span class="opt">Optional</span>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </e-accordionitem>
                </e-accordionitems>
              </ejs-accordion>
            </div>
          </div>
          <div class="control-section accordion-control-section" style="margin-top: 20px;">
            <div class="e-sample-resize-container">
              <ejs-accordion>
                <e-accordionitems>
                  <e-accordionitem>
                    <ng-template #header>
                      <div>SMS and Email</div>
                    </ng-template>
                    <ng-template #content>
                      <div class="card-body">
                        <div class="form-row">
                          <div class="col-md-4">
                            <b class="text-muted mb-3 d-block mylabel" style="color:#000000 !important; font-weight: 500;">Appointment Reminders</b>
                            <div class="custom-control custom-checkbox custom-control-inline">
                              <input type="checkbox" id="customRadio5" formControlName="appoints_sms" value="1" name="customRadio2" class="custom-control-input">
                              <label class="custom-control-label" for="customRadio5">SMS</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                              <input type="checkbox" [checked]="myModel" id="customRadio4" value="1" formControlName="appoints_email" name="customRadio2"
                                class="custom-control-input">
                              <label class="custom-control-label" for="customRadio4">Email</label>
                            </div>

                            <b class="text-muted mb-3 d-block mylabel" style="color:#000000 !important; font-weight: 500; padding-top: 10px;"> Promotions</b>
                            <div class="custom-control custom-checkbox custom-control-inline">
                              <input type="checkbox" id="customRadio7" formControlName="promote_sms" name="customRadio3" class="custom-control-input">
                              <label class="custom-control-label" for="customRadio7">SMS</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                              <input type="checkbox" [checked]="myModel" id="customRadio6" formControlName="promote_email" name="customRadio3" class="custom-control-input">
                              <label class="custom-control-label" for="customRadio6">Email</label>
                            </div>

                            <b class="text-muted mb-3 d-block mylabel" style="color:#000000 !important; font-weight: 500; padding-top: 10px;">Online Booking </b>
                            <div class="custom-control custom-checkbox custom-control-inline">
                              <input type="checkbox" class="custom-control-input" value="1" formControlName="online_booking" id="customCheck9">
                              <label class="custom-control-label" for="customCheck9">Enable Online Booking</label>

                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </e-accordionitem>
                </e-accordionitems>
              </ejs-accordion>
            </div>
          </div>
          <div class="control-section accordion-control-section" style="margin-top: 20px;">
            <div class="e-sample-resize-container">
              <ejs-accordion>
                <e-accordionitems>
                  <e-accordionitem>
                    <ng-template #header>
                      <div>Loyalty Points</div>
                    </ng-template>
                    <ng-template #content>
                      <div class="card-body">
                        <div class="form-row">
                          <div class="col-md-4">
                            <label style="color: #000000;">Loyalty Points</label>
                            <input type="text" class="form-control" formControlName="loyalty_point" placeholder="Loyalty Points">
                            <span class="opt">Optional</span>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </e-accordionitem>
                </e-accordionitems>
              </ejs-accordion>
            </div>
          </div>
          <div class="control-section accordion-control-section" style="margin-top: 20px;">
            <div class="e-sample-resize-container">
              <ejs-accordion>
                <e-accordionitems>
                  <e-accordionitem>
                    <ng-template #header>
                      <div>Client Comments</div>
                    </ng-template>
                    <ng-template #content>
                      <div class="card-body">
                        <div class="form-row" style="margin-top: 10px;">
                          <div class="col-md-4">
                            <label style="color: #000000;" for="comment">Comment</label>
                            <textarea name="comments" formControlName="comments" id="comments" cols="30" rows="10" type="text" class="form-control"></textarea>
                            <span class="opt">Optional</span>
                          </div>
                        </div>
                        <!--<div class="form-row" style="margin-top: 10px;">
                            <div class="col-md-4">
                              <p class="text-muted mb-3 d-block mylabel" style="color:#000000 !important;font-weight: 
                            500;margin-top: 10px;">
                            </p>
                            <div class="custom-control custom-checkbox custom-control-inline">
                              <input type="checkbox" class="custom-control-input" value="1" 
                              formControlName="client_cat_ids" id="customCheck6">
                              <label class="custom-control-label" for="customCheck6">client category</label>

                            </div>
                            </div>
                          </div>-->
                      </div>
                    </ng-template>
                  </e-accordionitem>
                </e-accordionitems>
              </ejs-accordion>
            </div>
          </div>
          <div class="control-section accordion-control-section" style="margin-top: 20px;">
            <div class="e-sample-resize-container">
              <ejs-accordion>
                <e-accordionitems>
                  <e-accordionitem>
                    <ng-template #header>
                      <div>Client Category</div>
                    </ng-template>
                    <ng-template #content>
                      <div class="card-body">
                        <div class="form-row">
                          <div class="col-md-4">
                            <p class="text-muted mb-3 d-block mylabel" style="color:#000000 !important;font-weight: 
                            500;margin-top: 10px;">
                            </p>
                             <!--<div class="custom-control custom-checkbox custom-control-inline" *ngFor="let clientCat of clientCats;let i = index">
                              <input type="checkbox" class="custom-control-input" [ngClass]="{ 'is-invalid': submitted && f.client_cat_ids.errors }" required id={{i}} value="clientCat" 
                              (change)="onChange(clientCat,$event.target.checked)" id="customCheck{{i}}"
                              checked>
                              <label class="custom-control-label" for="customCheck{{i}}">{{clientCat.name}}</label><br/>
                              <div *ngIf="submitted && f.client_cat_ids.errors" class="invalid-feedback">
                                <div *ngIf="f.client_cat_ids.errors?.required">Client Category is required</div>
                              </div>
                            </div><br/>-->
                            <div class="custom-control custom-checkbox custom-control-inline" 
                            *ngFor="let clientCat of clientCats;let i = index">
                              <input type="checkbox" class="custom-control-input" 
                             id={{i}} value="clientCat" 
                              (change)="onChange(clientCat,clientCat.checked ? 1 : $event.target.checked)" 
                              id="customCheck{{i}}"
                              [checked]="clientForm.controls.client_cat_ids.value.indexOf(clientCat)>=0">
                              <label class="custom-control-label" for="customCheck{{i}}">{{clientCat.name}}</label>
                             
                            </div><br/>
                                 <span class="opt">Optional</span>

                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </e-accordionitem>
                </e-accordionitems>
              </ejs-accordion>
            </div>
          </div>
          <button type="button" class="btn mb-3 canc" (click)="onReset()">Cancel</button>
          <button type="submit" class="btn mb-3 sub">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>