.mycardbody{
  flex: 1 1 auto;
    padding: 0.00rem !important;
}

input[type=text]:focus {
  border: 1px solid #c89628;
}

.mylabel{
 margin-bottom: -0.5rem;
    color: #000000;
}
.opt{
  color: #b5b5b5;
    font-size: 10px;
    font-weight: 500;
    padding-left: 2px;
}



.form-group>input{
  border:none;
}
input[type='radio'] {
        -webkit-appearance: none;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        outline: none;
        border: 2px solid gray;
    }

    input[type='radio']:before {
        content: '';
        display: block;
        width: 60%;
        height: 60%;
        margin: 20% auto;
        border-radius: 50%;
    }

 input[type="radio"]:checked:before {
        background: #c89628;
        
    }
    
    input[type="radio"]:checked {
      border-color:#c89628;
    }

    .role {
        margin-right: 20px;
        margin-left: 5px;
        font-weight: normal;
    }

    /*.checkbox label {
        margin-bottom: 20px !important;
    }*/

    .roles {
        margin-bottom: 6px;
    }
    .canc{
     color: #b4b4b4; border: 1px solid #b4b4b4; background-color: #ffffff; margin-top: 15px;
    }
    .sub{
   color: #fff;background-color: #c89628; margin-left: 10px; margin-top: 15px;
    }
    input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #c89628!important;
    background-color: #c89628;
}
.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
     border-color: #c89628; 
     background-color: #fff; 
}
.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
     background-color: #fff; 
}
.mb-3, .my-3 {
    margin-bottom: 0rem!important;
}
.header-titles {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 0px;
    margin-left: 20px;
}
.subheader-titles {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 0px;
    margin-left: 20px;
}
