.project-tab {
    padding: 10%;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #C89628;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.mt-5, .my-5 {
    margin-top: 1rem!important;
}
a {
    color: #C89628 !important;
    text-decoration: none;
    background-color: transparent;
}
ul.breadcrumbs {
    margin-top: 0px;
}
.mybtn{
  background-color: #C89628; border-color: #C89628; color:#fff;
           border-radius: 4px; height: 37px; font-size: 11px;  font-weight: 500;
}
.mybtn2{
  background-color: #C89628; border-color: #C89628; color:#fff;
    border-radius: 4px; font-weight: 500; width: 100%;
    font-size: 11px;
    height: 37px;
    margin-left: -25px;
}
.mybordcard{
  /*border: 0px solid rgba(0,0,0,.125) !important;*/
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #fff; 
    border-radius: .25rem;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.25rem;
}
table tr th, table tr td {
    border-top: 1px solid #f3f4f9 !important;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #f3f4f9;
}
.text-white {
    color: #000!important;
}
.bg-secondary {
    background-color: #f3f4f9!important;
}
.text-uppercase {
    font-size: 11px;
}
.del{
  margin-left: 10px; text-decoration: underline !important; cursor: pointer;font-size: 14px;
    font-weight: 500;
}
.editt{
  text-decoration: underline !important; cursor: pointer;font-size: 14px;
    font-weight: 500;
}
.levl{
  text-decoration: underline !important; cursor: pointer;font-size: 14px;
    font-weight: 500; color: #C89628;
}
.rowcont{
  font-size: 14px;
    color: #000;
    font-weight: 500;
}
.mypagelink{
      background-color: #C89628 !important;
    color: #fff !important;
}
.ressearch{
  margin-left: -20px;
}

.nav-tabs .nav-item {
    font-size: 15px !important;
}






















.canc{
color: #b4b4b4; border: 1px solid #b4b4b4; background-color: #ffffff; margin-top: 15px;
 }
.sub{
color: #fff;background-color: #c89628; margin-left: 10px; margin-top: 15px;
   }
    input.ng-invalid.ng-touched {
border: 1px solid red;
}

.myformscontrol{
    font-size: 14px;
    font-weight: 500;
    height: 45px;
}



.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 5px;
  left: 0px;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
.custominput{
    padding-top: 8px !important;
    padding-left: 12px !important;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}

.floating-label {
 position: absolute !important;
    pointer-events: none !important;
    top: 3px !important;
    transition: 0.2s ease all;
   left: 1px !important;
}

/*th {
    text-align: left;
}*/
button.close {
        border: 0 none !important;
}
.role {
        margin-right: 20px;
        margin-left: 5px;
        font-weight: normal;
    }


    .roles {
        margin-bottom: 6px;
    }

    .nav-tabs .nav-item {
    margin-bottom: -1px;
    margin-left: -3px;
}
.timepick{
    margin-top: 30px;
    font-size: 13px;
    font-weight: 700;
    padding: 10px;
}
.nepal{width:100%; display:block;}
.switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 30px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing: content-box;
}
label {
    font-weight: inherit;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;

    line-height: normal;
      -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}


.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing: content-box;
}
.switch-left-right .switch-input:checked ~ .switch-label {
    background: inherit;
}
.switch-input:checked ~ .switch-label {
    background: #E1B42B;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-left-right .switch-label {
    overflow: hidden;
}
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}
.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    box-sizing: content-box;
}
.switch-left-right .switch-input:checked ~ .switch-label:before {
    opacity: 1;
    left: 100px;
}
.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.switch-left-right .switch-label:before {
    background: #eceeef;
    text-align: left;
    padding-left: 46px!important;
}
.switch-left-right .switch-label:before, .switch-left-right .switch-label:after {
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: -12px;
    border-radius: 20px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
}
.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaaaaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

span.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    position: absolute;
  
}

.switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing: content-box;
}

.switch-left-right .switch-input:checked ~ .switch-label:after {
    left: 0!important;
    opacity: 1;
    padding-left: 20px;
}


.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}


.switch-left-right .switch-label:after {
    text-align: left;
    text-indent: 9px;
    background: #c89628!important;
    left: -100px!important;
    opacity: 1;
    width: 100%!important;
 
}
.switch-left-right .switch-label:before, .switch-left-right .switch-label:after {
    width: 55px;
    height: 20px;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: -12px;
    border-radius: 20px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
}
.switch-input:checked ~ .switch-handle {
    left: 74px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.leveltext{
    font-size: 15px;
    padding-top: 20px;
    color: #c89628;
    font-weight: 600;
}
.close {
    color: #fff; 
    opacity: 1;
}
.img-fluid {
    max-width: 40%;
    height: auto;
    float: left;
    margin-left: -11px;
}
.mysmallbtn{
    font-size: 10px !important;
    color: #000;
    background-color: #e3ca92;
    border-color: #e3ca92;
    font-weight: 700;
    height: 30px;
}
.btn-danger:hover {
     color: #000 !important; 
     background-color: #e3ca92 !important; 
    border-color: #e3ca92 !important; 
}
.closebtn{
    font-size: 10px !important;
    color: #bbbcbe !important;
    background-color: #EEEFF1 !important;
    border-color: #EEEFF1;
    font-weight: 700;
    height: 30px;
}