<div class="page-container">
  <div class="main-content">
    <div class="main-content-inner">
      <div class="row">
        <div class="col-md-12 ">
          <form [formGroup]="addappointmentForm" (ngSubmit)="onSubmit()">
            <h4 class="header-title" style="color: #c89628;cursor: pointer;" [routerLink]="['/appointments']">Back </h4>
            <h4 class="header-title">Add Appointments </h4>
            <div class="card">
              <div class="header-title myheadtitle">Select Client Details and Services</div>
              <div class="main-content-inner">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-row">
                      <div class="col-md-9">
                        <div class="form-group mysubgroup">
                          <label class="col-form-label myappoinlabel">Select Client</label>
                          <select class="custom-select mycustom"  (change)="changeServiceClient($event)" formControlName="client_id">
                                 <option value="" selected="">Open this select menu</option>
                                 <option *ngFor="let client of clients" [value]=client.id>{{client.f_name}}</option>
                              </select>
                        </div>
                      </div>
                      <div class="col-md-3" style="padding-top: 25px;">
                        <button type="button" class="btn mybtn" [routerLink]="['/addnewclient']">ADD NEW CLIENT</button>
                      </div>
                    </div>
                    <div class="form-group mysubgroup">
                      <label class="col-form-label myappoinlabel">Select Staff</label>
                      <select class="custom-select mycustom" formControlName="employee_id">
                                 <option value="" selected="">Open this select menu</option>
                                 <option *ngFor="let employee of currentEmployees" [value]=employee.id>{{employee.f_name}}</option>
                              </select>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6">
                        <label class="col-form-label myappoinlabel">Date</label>
                        <div class="input-group">
                          <input class="form-control mycustom" (ngModelChange)="datePickerChanged($event)" [(ngModel)]="datePicker"
                          formControlName="start_date" placeholder="yyyy-mm-dd"
                            name="start_date"  ngbDatepicker [minDate]="{year: 1980, month: 1, day: 1}"
                            [maxDate]="{year: 2048, month: 12, day: 31}" #d="ngbDatepicker">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar mycustom" (click)="d.toggle()" type="button">
                                  <i class="fa fa-calendar"></i></button>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="col-form-label myappoinlabel">Time </label>
                        <select class="custom-select mycustom" [(ngModel)]="selectedValue" formControlName="duration">
                            <option value="09">9 AM</option>
                            <option value="10">10 AM</option>
                            <option value="11">11 AM</option>
                            <option value="12">Noon</option>
                            <option value="13">1 PM</option>
                            <option value="14">2 PM</option>
                            <option value="15">3 PM</option>
                            <option value="16">4 PM</option>
                            <option value="17">5 PM</option>
                            <option value="18">6 PM</option>
                            <option value="19">7 PM</option>
                            <option value="20">8 PM</option>
                            <option value="21">9 PM</option>
                          </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label myappoinlabel">Service Category </label>
                      <select class="custom-select mycustom" (change)="changeServiceCat($event)" formControlName="service_cat_id">
                      <option value="" selected="">Open this select menu</option>
                      <option *ngFor="let serviceCat of serviceCats" [value]=serviceCat.id>{{serviceCat.name}}</option>
                  </select>
                    </div>
                    <div class="card scrollbar4" id="style-3" style="margin-top: 10px; background-color: #f3f4f9;">
                      <div class="card-body ">
                        <div class="form-row">
                          <div class="col-md-10" *ngFor="let service of services; let i = index;">
                            <!--<input type="checkbox" id="vehicle1" value="Bike" [ngModelOptions]="{standalone: true}" [(ngModel)]="services[i].checked"
                              (click)="onCheckboxChange($event,service.id)">-->
                            <label for="vehicle1" class="mycheckbox">{{service.service_name}}</label>
                            <button type="button" class="btn addbtn" (click)="addService(service.id)" style="float: right; margin-bottom: 5px;">ADD</button>
                          </div>

                        </div>
                      </div>
                    </div>
                    <b class="text-muted mb-3 mt-4 d-block flagappoint">Flag As</b>
                    <div class="roles">
                      <input type="radio" value="Requested" name="flag_as" class="role" /> Requested
                      <input type="radio" value="Confirmed" name="flag_as" class="role" /> Confirmed
                      <input type="radio" value="VIP" name="flag_as" class="role" /> VIP
                    </div>

                    <div class="card-body">
                      <div class="form-row">
                        <div class="col-md-12">
                          <textarea name="message" placeholder="Some Text...."></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h2 class="appoint" *ngIf="show">Appointment overview</h2>
                    <div class="card" *ngIf="show">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-2">
                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                          </div>
                          <div class="col-md-10">
                            <p>
                              <a class="float-left" style="padding-bottom: 10px;"><strong>{{clientDetails.f_name}}</strong></a>
                              <img src="assets/img/like.png" style="width: 5%; float: right;">
                            </p>
                            <div>
                            <p style="color: #000; font-size: 13px; font-weight: 600; margin-top: 34px;">
                              <i class="fa fa-phone-square" style="color: #c89628; font-size: 20px;"></i> 
                              {{clientDetails.mobile}}</p>
                            <p style="color: #000; font-size: 13px; font-weight: 600;">
                              <i class="fa fa-envelope-square" style="color: #c89628; font-size: 20px;"></i>
                              {{clientDetails.email}}</p>
                            <p style="color: #000; font-size: 13px; font-weight: 600;">
                              <img src="assets/img/icon-map.png" style="width: 5%; font-size: 20px;">
                              {{clientDetails.address}}<br>
                            </p>
                            </div>
                            <p>
                              <a class="editt">View History</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h2 class="appoints">Services </h2>
                    <div class="card scrollbar3" id="style-3" style="margin-top: 10px;">
                      <div class="card-body myborder" *ngFor="let service of checkOutputDta; let i=index;">
                        <h5 class="mysubheader">{{service.duration }} - {{service.service_name}}</h5>
                        <span class="subicon"><i class="fa fa-times-circle" (click)="removeServices(service.id,i)"></i></span>
                      </div>
                    </div>
                    <div class="card-body" style="padding-left: 0px;">
                      <h4 class="header-title" style="margin-bottom: 0px;">Total time:<span class="ride">override</span></h4>
                      <h4>{{totalTime ? totalTime + ' Minutes' : '' }} </h4>
                      <br>
                      <h4 class="header-title" style="margin-bottom: 0px;">Total Price:</h4>
                      <h4>{{ price ? '$'+price : ''}}</h4>
                      <div class="custom-control custom-checkbox custom-control-inline" style="margin-top: 10px;">
                        <input type="checkbox" checked class="custom-control-input" id="customCheck0">
                        <label class="custom-control-label" for="customCheck0" style="font-size: 14px; color: #000;">Send Email/SMS to client</label>
                      </div>
                      <div class="card-body" style="padding-left: 0px;">
                        <button type="button" class="btn mb-3 canc" (click)="onCancel()">Cancel</button>
                        <button type="submit" (click)="openTimeslotsModel()" class="btn mb-3 sub">Pick Time</button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>