<div class="page-container">
  <div class="main-content">
<div class="main-content-inner">
  <div class="row">
    <!-- Bootstrap Grid start -->
    <div class="col-12 ">
      <h4 class="header-title" style="color: #c89628;">Back  </h4>
      <h4 class="header-title">Add Appointments </h4>
      <div class="card">
          <div class="header-title myheadtitle">Select Client Details and Services</div>
         <div class="main-content-inner">
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group mysubgroup">
      <label class="col-form-label myappoinlabel">Select Staff</label>
      <select class="custom-select mycustom">
    <option selected="selected">Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>
</div>
<div class="form-group">
  <label class="col-form-label myappoinlabel">Available Time Slot</label>
  <select class="custom-select mycustom">
    <option selected="selected">Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>
</div>
<div class="form-group">
  <label class="col-form-label myappoinlabel">Services Category </label>
  <select class="custom-select mycustom">
    <option selected="selected">Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>
</div>
<div class="card scrollbar4" id="style-3" style="margin-top: 10px; background-color: #f3f4f9;">
  <div class="card-body ">
     <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1" class="mycheckbox"> I have a bike</label>
    </div>
    <div class="card-body cardbody">
 <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
<label for="vehicle2" class="mycheckbox"> I have a car</label>
</div>
<div class="card-body cardbody">
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
<label for="vehicle3" class="mycheckbox"> I have a boat</label>
</div>
    </div>
    <b class="text-muted mb-3 mt-4 d-block flagappoint">Flag As</b>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" checked class="custom-control-input" id="customCheck5">
  <label class="custom-control-label" for="customCheck5" style="font-size: 14px; color: #000;">Requested</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" id="customCheck6">
  <label class="custom-control-label" for="customCheck6" style="font-size: 14px; color: #000;">Confirmed</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" id="customCheck7">
  <label class="custom-control-label" for="customCheck7" style="font-size: 14px; color: #000;">VIP</label>
</div>
<div class="card-body">
<textarea>Some text...</textarea>
</div>
    </div>
    <div class="col-lg-6">
      <h2 class="appoint">Appointment overview</h2>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
      </div>
      <div class="col-md-10">
        <p>
          <a class="float-left" style="padding-bottom: 10px;"><strong>Devon</strong></a>
          <img src="assets/img/like.png" style="width: 5%; float: right;">

        </p>
        <div class="clearfix"></div>
        <p style="color: #000; font-size: 13px; font-weight: 600;"><i class="fa fa-phone-square" style="color: #c89628; font-size: 20px;"></i> +01 1234567894</p>
        <p style="color: #000; font-size: 13px; font-weight: 600;"><i class="fa fa-envelope-square" style="color: #c89628; font-size: 20px;"></i> devon@gmail.com</p>
        <p style="color: #000; font-size: 13px; font-weight: 600;"><img src="assets/img/icon-map.png" style="width: 5%; font-size: 20px;">1100 New Heaven Road,<br><span style="padding-left: 20px;">Naugatuck CT 6670</span></p>
        <p>
          <a class="editt">View History</a>
        </p>
      </div>

      
    </div>
  </div>
</div>
<h2 class="appoints">Services </h2>
<div class="card scrollbar3" id="style-3" style="margin-top: 10px;">
  <div class="card-body myborder">
    <h5 class="mysubheader">45 mins-Bridemaid </h5><span class="subicon"><i class="fa fa-times-circle"></i></span>
  </div>
  <div class="card-body myborder">
   <h5 class="mysubheader">45 mins-Bridemaid </h5><span class="subicon"><i class="fa fa-times-circle"></i></span>
  </div>
  <div class="card-body myborder">
  <h5 class="mysubheader">45 mins-Bridemaid </h5><span class="subicon"><i class="fa fa-times-circle"></i></span>
  </div>
  <div class="card-body myborder">
  <h5 class="mysubheader">45 mins-Bridemaid </h5><span class="subicon"><i class="fa fa-times-circle"></i></span>
  </div>
</div>

  <div class="card-body" style="padding-left: 0px;">
    <h4 class="header-title" style="margin-bottom: 0px;">Total time:<span class="ride">override</span></h4>
    <h4>160 Mins</h4>
    <br>
   <h4 class="header-title" style="margin-bottom: 0px;">Total Price:</h4>
<h4>$30.00</h4>
    <div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" checked class="custom-control-input" id="customCheck0">
  <label class="custom-control-label" for="customCheck0" style="font-size: 14px; color: #000;">Send Email/SMS to client</label>
</div>
<div class="card-body" style="padding-left: 0px;">
<button type="button" class="btn mb-3 canc">Cancel</button>
<button type="submit" class="btn mb-3 sub">Submit</button>
</div>
  </div>
    </div>
  </div>
         </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>