.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 5px;
  left: 0px;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
.custominput{
    padding-top: 8px !important;
    padding-left: 12px !important;
}

input:focus ~ .floating-label, .floating-label{
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}

.floating-label {
 position: absolute !important;
    pointer-events: none !important;
    top: 0px !important;
    transition: 0.2s ease all;
   left: 1px !important;
}

/*th {
    text-align: left;
}*/
button.close {
        border: 0 none !important;
}
.canc{
     color: #b4b4b4; border: 1px solid #b4b4b4; background-color: #ffffff; margin-top: 15px;
    }
    .sub{
   color: #fff;background-color: #c89628; margin-left: 10px; margin-top: 15px;
    }

    .POS {
  font-size: 15px;
  font-weight: 500; 
  color: #000000;
  line-height: 3.19;
}
.Rectangle-8 {
  width: 100%;
  height: 40px;
  padding: 16px 11px 15px 8px;
  border-radius: 5px;
  border: solid 1px #d7dbe6;
  background-color: #f3f4f9;
  font-size: 10px;
  color: #a3a3a3;
}
.pos-search{
  margin-left: -20px;
    color: #a3a3a3;
    font-size: 10px;
}
.opt{
  color: #b5b5b5;
    font-size: 10px;
    font-weight: 500;
    padding-left: 2px;
}
.mybtn{
  background-color: #C89628; 
  border-color: #C89628; 
  color:#fff;
  border-radius: 4px; 
  height: 37px; 
  font-size: 11px;  
  font-weight: 500;
  margin: 33px 10px 10px -15px;
}
.grid-col {
    padding: 0px 0px;
    background: #fff !important;
    margin-bottom: 0px;
    color: #666;
    border: 1px solid #fff;
}
.Group-44 {
  width: 134px;
  height: 134px;
  margin: 90px 0px 0px 0px;
  object-fit: contain;
}
.span-heading{
  text-align: left;
  padding: 4px;
}
.Tax-000 {
  width: 84px;
  height: 21px;
 margin: 22px -20px 1px 37px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #a3a3a3;
}
.Total500 {
  width: 86px;
  height: 21px;
  margin: 22px -20px 1px 37px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}
.clientName{
  padding: 10px;
    font-weight: 500;
    font-size: 14px;
}
.para-500{
  margin-top: -30px;
    margin-left: 36px;
}
.mob-client{
    font-weight: 500;
    font-size: 14px;
}
.remove-icon{
  margin-left: -20px;
    color: red;
}
.select-client003{
  float: left;
    padding: 5px;
    font-weight: 500;
    font-size: 14px;
}
.tabbar{
  float: left;
    font-weight: 500;
}
.tabserv{
  float: left;
    padding-left: 10px;
}
.Total5002{
  width: 86px;
  height: 21px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.ng-autocomplete {
    width: 310px !important;
}