<div class="modal-header">
  <h5 class="modal-title">Add Items to sell</h5>
  <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <div class="col-md-12" >
  <div class="span-heading">
    <div class="card" style="margin-left: -10px;">
      <p style="padding: 3px 10px 5px 10px;">
        <span (click)="openPosclientModal()"><img src="assets/img/Services@3x.png" style="width: 16%;padding-top: 5px;cursor: pointer;"> <span class="clientName" style="cursor: pointer;">Services</span></span>
        <span style="float: right; padding-top: 8px;cursor: pointer;" (click)="openPosclientModal()"><i class="fa fa-angle-right" style="cursor: pointer;"></i></span>
      </p>
      <p class="para-500">
        
      </p>
    </div>
  </div>

  <div class="span-heading">
  <div class="card" style="margin-left: -10px;">
    <p style="padding: 3px 10px 5px 10px;">
      <span (click)="openPosProductModal()"><img src="assets/img/Services@3x.png" style="width: 16%;padding-top: 5px;"> <span class="clientName" style="cursor: pointer;">Product</span></span>
      <span style="float: right; padding-top: 8px;" (click)="openPosProductModal()"><i class="fa fa-angle-right" style="cursor: pointer;"></i></span>
    </p>
    <p class="para-500">

    </p>
  </div>
</div>

<div class="span-heading">
  <div class="card" style="margin-left: -10px;">
    <p style="padding: 3px 10px 5px 10px;">
      <span><img src="assets/img/Gift Vouchar@3x.png" style="width: 16%;padding-top: 5px;"> <span class="clientName" style="cursor: pointer;">Gift Voucher</span></span>
      <span style="float: right; padding-top: 8px;" (click)="removeClients()"><i class="fa fa-angle-right" style="cursor: pointer;"></i></span>
    </p>
    <p class="para-500">

    </p>
  </div>
</div>
</div>
</div>