
/*h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b { /* used for event dates/times */
  /*margin-right: 3px;
}*/

/*.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
  padding: 2em;
}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}

.fc { /* the calendar root */
  /*max-width: 1100px;
  margin: 0 auto;
}*/
.btnstand{
  color: #000000;
    background-color: #f3f4f9;
    border-color: #f3f4f9;
     max-width: 100%;
    padding: 3px 5px;
}
.btnstand2{
  color: #fff;
    background-color: #C89628;
    border-color: #C89628;
     max-width: 100%;
    padding: 3px 0px;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 4.255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.mybtn{
  background-color: #C89628; border-color: #C89628; color:#fff;
           border-radius: 4px; height: 33px; font-size: 11px;  font-weight: 500;
}


.myheader{
  font-size: 15px; color: #000000; margin-bottom: 2px;
}
.mypara{
  color: #BCBDB8; font-size: 11px; font-weight: 500;
}


.schedule-group-editing.e-schedule .e-month-view .e-appointment .e-appointment-details {
    padding: 1px;
    padding-left: 3px;
}

.schedule-group-editing.e-schedule .e-vertical-view .e-resource-cells {
    height: 62px;
}

.schedule-group-editing.e-schedule .template-wrap {
    display: flex;
    text-align: left;
}

.schedule-group-editing.e-schedule .template-wrap .resource-image {
    width: 45px;
    height: 45px;
    background-size: 20px;
    background-repeat: no-repeat;
}

.schedule-group-editing.e-schedule .template-wrap .resource-details {
    padding-left: 10px;
}

.schedule-group-editing.e-schedule .template-wrap .resource-details .resource-name {
    font-size: 13px;
    font-weight: 500;
    padding-right: 10px;
}

.schedule-group-editing.e-schedule.e-device .template-wrap .resource-details .resource-name {
    font-size: inherit;
    font-weight: inherit;
    padding-top: 5px;
}

.schedule-group-editing.e-schedule.e-device .e-resource-tree-popup .e-fullrow {
    height: 50px;
}

.schedule-group-editing.e-schedule.e-device .template-wrap .resource-details .resource-designation {
    display: none;
}


.schedule-group-editing.e-schedule .template-wrap .resource-image.user-profile {
    background-image: url('~/assets/schedule/images/user-profile.png');
}
.myrespbtn{
  background-color: #C89628; border-color: #C89628; color:#fff;
  border-radius: 33px; height: 33px; font-size: 11px; margin-left: 1rem; font-weight: 500;
}
.customtd{
  /*background-color: #fff;
    border-color: rgba(0, 0, 0, 0.12);
    border-style: solid;
    border-width: 0 0 1px 1px;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;*/
}
.e-textlabel-td{
  padding-top: 10px !important;
}
.btn:hover {
    color: unset !important;
    /*text-decoration: none;*/
}
.e-schedule .e-vertical-view .e-header-cells.e-current-day {
    color: #C89628;
}
.e-calendar .e-content td.e-today.e-selected span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected span.e-day {
   border: 1px solid #C89628 !important;
    box-shadow: inset 0 0 0 2px #fff;
}

.e-calendar .e-content td.e-today.e-selected:hover span.e-day, .e-calendar .e-content td.e-selected:hover span.e-day, .e-calendar .e-content td.e-selected.e-focused-date span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected.e-focused-date span.e-day {
    background-color: #C89628 !important;
    color: #fff;
}
.e-calendar .e-content td.e-today.e-selected span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected span.e-day {
    background-color: #C89628 !important;
    color: #fff;
}
/*.e-control, .e-control [class^='e-'], .e-control [class*=' e-'] {
    box-sizing: border-box;
    height: 40px;
}*/
.e-schedule .e-vertical-view .e-header-cells {
    font-size: 12px;
    height: 0px !important;
    padding: 0px !important;
}
.e-schedule .e-vertical-view .e-header-cells.e-current-day {
    color: #C89628;
    display: none;
}
.e-schedule .e-schedule-toolbar .e-toolbar-items {
    background: #ffffff;
}
/*.e-schedule .e-schedule-toolbar .e-toolbar-items.e-tbar-pos {
    height: 42px;
    min-height: 42px;
    display: none;
}
*/

/*.e-schedule .e-schedule-toolbar {
    background: #ffffff !important;
    border: 0;
    border-bottom: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 3px;
    min-height: 0px;
}*/

/*table tr th, table tr td {
    border-top: 0px solid rgba(120, 130, 140, 0.13) !important;
}*/
.e-schedule .e-vertical-view .e-date-header-wrap table tbody td {
    background-color: #f3f4f9;
    border-color: rgba(0, 0, 0, 0.12);
    border-style: solid;
    border-width: 0 0 1px 1px;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
}
.e-schedule .e-vertical-view .e-left-indent-wrap table tbody td {
    background-color: #f3f4f9;
    border-color: rgba(0, 0, 0, 0.12);
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: rgba(0, 0, 0, 0.87);
}
.e-schedule .e-schedule-toolbar .e-tbar-btn {
    background: #fff;
}

.align-items-center {
    align-items: center!important;
    margin-top: -15px;
}
.e-schedule .e-vertical-view .e-header-cells .e-header-day {
    display: none;
    font-size: 13px;
}
.e-schedule .e-vertical-view .e-header-cells .e-header-date {
    cursor: pointer;
    display: none;
    font-size: 18px;
}
.e-calendar .e-content td.e-selected span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected span.e-day {
    background-color: #C89628;
    border: none;
    border-radius: 50%;
    color: #fff;
}
.e-calendar .e-content td.e-today span.e-day, .e-calendar .e-content td.e-focused-date.e-today span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
    background: none;
    border: 1px solid #C89628;
    border-radius: 50%;
    color: #C89628;
}
.myicons{
    z-index: 2;
    position: absolute;
    margin-top: -50px;
    font-size: 35px;
    margin-left: -50px;
    color: #C89628;
}