/* You can add global styles to this file, and also import other style files */
@import "assets/mycss/styles.css";
@import "assets/mycss/default-css.css";
@import "assets/mycss/metisMenu.css";
@import "assets/mycss/owl.carousel.min.css";
@import "assets/mycss/responsive.css";
@import "assets/mycss/slicknav.min.css";
@import "assets/mycss/themify-icons.css";
@import "assets/mycss/bootstrap.min.css";
@import "assets/mycss/font-awesome.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  background-color: #f3f4f9 !important;}
.switch-large {
    width: 100px !important;
    height: 40px;
    border-radius: 40px;
}
.switch-large.checked small {
    left: 60px !important;
}
.switch.on{
    opacity: 0;
    z-index: 0;
    color: #000 !important;
    position: absolute;
    top: 25%;
    left: 9%;
    transition: 0.4s ease-out all;
    font-weight: 600;
}
.switch {
    background: #f00;
    border: 1px solid #dfdfdf;
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    overflow: visible;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-shadow: rgb(223, 223, 223) 0 0 0 0 inset;
    transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    }

    small {
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    }

    .switch-large {
    width: 66px;
    height: 40px;
    border-radius: 40px;
    }

    .switch-large   small {
    width: 40px;
    height: 40px;
    }

    .switch-medium {
    width: 50px;
    height: 30px;
    border-radius: 30px;
    }

    .switch-medium.switch-labeled {
      width: 60px;
    }

    .switch-medium   small {
    width: 30px;
    height: 30px;
    }

    .switch-small {
    width: 33px;
    height: 20px;
    border-radius: 20px;
    }

    .switch-small   small {
    width: 20px;
    height: 20px;
    }

    .switch-labeled {
      cursor: pointer;
    }

    .checked {
    background: rgb(100, 189, 99);
    border-color: rgb(100, 189, 99);
    }

    .switch-large.checked   small {
    left: 26px;
    }

    .switch-medium.checked   small {
    left: 20px;
    }

    .switch-medium.switch-labeled.checked   small {
      left: 30px;
    }

    .switch-small.checked   small {
    left: 13px;
    }

    .disabled {
    opacity: .50;
    cursor: not-allowed;
    }

    .switch   .switch-text {
      font-size: 13px;
    }

    .switch   .off {
      opacity: 1;
      position: absolute;
      right: 10%;
      top: 25%;
      z-index: 0;
      font-weight: 600;
      color:#000 !important;
      transition: 0.4s ease-out all;
    }

    .switch .on {
      opacity:0;
      z-index: 0;
      color:#000 !important;
      font-weight: 600;
      position: absolute;
      top: 25%;
      left: 9%;
      transition: 0.4s ease-out all;
    }

    .switch.checked   .off {
      opacity:0;
    }

    .switch.checked   .on {
      opacity:1;
    }

    .form-control {
    font-size: 14px !important;
}
.custom-select {
    font-size: 14px !important;
}
.e-schedule .e-vertical-view .e-clone-time-indicator, .e-schedule .e-vertical-view .e-current-time {
    color: #C89628;
}
.e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header .e-acrdn-header-icon, .e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header .e-acrdn-header-content, .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header .e-acrdn-header-icon, .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header .e-acrdn-header-content {
    color: #000000;
}

@media (min-width: 576px){
.modal-dialog-centered {
    min-height: calc(100% - 12.5rem) !important;
}
}

.autocomplete-container .input-container input {
    font-size: 13px !important;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: 0;
    background-color: #fff;
    color: rgba(0,0,0,.87);
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
}
